<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fdeci.navbar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomePR"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login">
        </activity>
        <activity
            android:name=".Info">
        </activity>
        <activity
            android:name=".RegistraUtenteSemplice">
        </activity>
        <activity
            android:name=".ScegliRegistrazione">
        </activity>
        <activity
            android:name=".RegistraGestore">
        </activity>
        <activity
            android:name=".RegistraPR">
        </activity>
        <activity
            android:name=".RegistraTrasporti">
        </activity>
        <activity
            android:name=".RegistraCatering">
        </activity>
        <activity
            android:name=".Accedi">
         </activity>
        <activity
            android:name=".CercaLocali">
        </activity>
        <activity
            android:name=".CercaEventi">
        </activity>
        <activity
            android:name=".AggiungiLocale">
        </activity>
        <activity
            android:name=".CreaEvento">
        </activity>
        <activity
            android:name=".ProponiEvento">
        </activity>
        <activity
            android:name=".DescrizioneEvento">
        </activity>
        <activity
            android:name=".DescrizionePR">
        </activity>
        <activity
            android:name=".DescrizioneLocale">
        </activity>
        <activity
            android:name=".ListaEventi">
        </activity>
        <activity
            android:name=".ListaLocali">
        </activity>
        <activity
            android:name=".ListaProposteEventi">
        </activity>
        <activity
            android:name=".HomeUtenteNonRegistrato">
        </activity>
        <activity
            android:name=".HomeUtenteRegistrato">
        </activity>
        <activity
            android:name=".HomeGestoreLocale">
        </activity>
    </application>

</manifest>